<div id="content">
<div class="container">
<div class="">
<div class="product1">
<p class="text-danger text-start fs-2 fw-bold">Chi tiết sản phẩm</p>
<img style="width: 500px;" src="{{product.thumbnail}}"/>                
<p class="fw-bold"><a href = "/product-detail/{{product.id}}">{{product.title}}</a></p>
 <span class="price">{{product.price}}</span> <br>
<button class="text-white bg-danger rounded-pill border border-danger">Mua ngay</button>
</div>
</div>      
</div>
</div>
              
              