.login-button{
background:#171c1b;
color: rgb(97, 83, 83)939;
font-size: 18px;
padding: 8px 20px;
border-radius: 50px;
text-decoration: none;
}

.navbar-brand {
    color: #3fa2a0;
    font-size: 50px;
}
.nav-item{
font-size: 20px;
color: #861c1c;
}
.a{
color: #462626;

}
.text-black collapse navbar-collapse{
    color: #3fa2a0;
}